<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <table>
      <% for (var fila = 0; fila < 3; fila++) { %>
        <tr>
        <% for (var columna = 0; columna < 3; columna++) { %>
          <% if (tablero[fila][columna] == 1) { %>
            <td>O</td>
          <% } else if (tablero[fila][columna] == 2) { %>
            <td>X</td>
          <% } else { %>
            <td>
              <% if (meToca) { %>
              <form action="/ponerficha" method="post">
                <input type="hidden" name="fila" value="<%= fila %>" />
                <input type="hidden" name="columna" value="<%= columna %>" />
                <input type="submit" value="Jugar"/>
              </form>
              <% } %>
            </td> 
          <% } %>
        <% } %>
      </tr>
      <% } %>
    </table>

    <% if (!meToca) { %>
      <script>
        setInterval(function () {
          fetch('/miturno').then(function(response) {
            if (response.ok) {
              location.reload();
            }
          })
        }, 3000);
      </script>
    <% } %>
  </body>
</html>
